@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Orbitron:100,200,300,400,500,600,700');

/*------------------------------------------------Wrappers-*/

.wrapper-white {
    width: 60%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

.wrapper-black {
    width: 60%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.content-width {
    width: 100%;
}

.add-cell {
    display: table-cell;
}

/*-------------------------------------------------Top Row-*/

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-title {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    margin: 10px;
    margin: 0 auto;

}

.implant {
    -webkit-box-shadow: 10px 10px 8px 0px rgba(102, 102, 102, 0.75);
    -moz-box-shadow: 10px 10px 8px 0px rgba(102, 102, 102, 0.75);
    box-shadow: 10px 10px 8px 0px rgba(102, 102, 102, 0.75);
    text-align: center;
    padding: 20px 0px 10px;
    border-style: none;
    border-radius: 12px;
    background-color: rgba(160, 160, 160, 0.4);
    margin: 22px 15px 28px 0;
}

.implant-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
    padding: 0px 20px 0px;
}

.implant img {
    width: 60%;
    height: auto;
}

.black-border {
    border-style: solid;
    border-width: 3px;
    border-color: #000;
    margin-left: -10px;
    margin-right: 10px;
}

.title-divider {
    width: 100px;
    height: 3px;
    border: 0;
    background-color: #352582;
}


.NOTUSEDtop-row {
    /*min-height: 140px;*/
    margin-top: 0px;
    margin-bottom: 0px;
}

.NOTUSEDheader-wrapper {
    margin-top: 30px;
}

.main-titleOLD {
    /*min-height: 260px;*/
    align-items: center;
    justify-content: center;
}

/*----------------------------------------------Sub Header-*/

.sub-header {
    min-height: 120px;
    margin-top: 0px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: #000;
    color: #fff;
    
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 36px;
}

/*-------------------------------------------------Section-*/

.tb-pic {
    background: url('/assets/images/tb.jpg');
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    border-width: 5px;
    border-color: #000;
    border-style: solid;
    margin-bottom: 30px;
}

.main-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.7em;
    background-color: #ccc;
    padding: 15px 15px 0px;
    min-height: 345px;
    margin-bottom: 30px;
}

/*
.main-text h3 {
    font-weight: 500;
}*/

.main-text p {
    margin: 0;
}

.raf-link {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding: 30px;
    background-color: #000;
    color: #fff;
    margin-bottom: 30px;
}

.raf-link:hover {
    padding: 26px;
    border-width: 4px 0;
    border-color: #000;
    border-style: solid;
    background-color: #e26d00;
    color: #000;
}

.raf-link p {
    margin: 0;
}

/*---------------------------------------------------FAQ's-*/

.faqs {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    line-height: 1.5em;
    background-color: #aaa;
    padding: 15px 15px 0px;
    min-height: 200px;
    margin-bottom: 30px;
}


/*--------------------------------------------------Footer-*/

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 11px;
    color: #ccc;
    background-color: #333;
    padding: 15px;
    line-height: 1.7em;
    margin: 0;
}

/*----------------------------------------Background Image-*/

body {
    background-color: #000;
    background-image: url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;



}


.bg-fade {
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05)
}

/*----------------------------------------------------Misc-*/

.raf-link a {
    text-decoration: none;
    color: #fff;

}

/*-------------------------------------------Media-Queries-*/

@media(max-width: 991px) {
    .wrapper-white {
        width: 90%;
    }
    .wrapper-black {
        width: 90%;
    }
}
