/*------------------------------------------------Wrappers-*/

.wrapper-white {
    width: 60%;
    padding: 0;
    background-color: #000;
    background-color: rgba(255, 255, 255, 0.85);
}

.wrapper-black {
    width: 60%;
    padding: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
}

.content-width {
    width: 100%;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center;
}

/*-------------------------------------------------Top Row-*/

.main-title {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    margin: 10px;
    margin: 0 auto;

}

.title-divider {
    width: 15%;
    height: 3px;
    border: 0;
    background-color: #407f7f;
    margin: 0 auto;
}

.upgrade {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 10px 20px 0;
    border-right-width: 0;
    border-left-width: 0;
    border-color: #407f7f;
    border-style: solid;
    margin: 10px 0 10px;
}

.upgrade p {
    margin: 14px 0 20px;
}

.fa-coins {
    font-size: 60px;
    color: #407f7f;
}

/*----------------------------------------------Sub Header-*/

.free-sp-isk {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 20px 15px;
    text-align: center;

    background-color: #000;
    color: #fff;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 36px;
}

.free-sp-isk p {
    margin: 0;
}

/*-------------------------------------------------Section-*/

.tb-pic {
    background: url('../images/tb.jpg');
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    border-width: 5px;
    border-color: #000;
    border-style: solid;
    margin-bottom: 30px;
}

.main-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.8em;
    padding: 0 15px 15px 15px;
    margin: 0 auto 30px;
}

h3 {
    margin-top: 0;
}


.btn-info {
    width: 50%;
    white-space: normal;
    margin: 10px 0 10px;
    background-color: #407f7f;
    border-color: #407f7f;
}

.btn-info:hover {
    background-color: #226666;
    border-color: #226666;
    color: white;
    transition: 0.2s;
}

.btn-info:focus,
.btn-info:active,
.btn-info:active:focus {
    background-color: #226666;
    border-color: #226666;
    color: white;
    transition: 0.2s;
    outline: 0;
}

.btn--wider {
    width: 75%;
}

.link-text-color {
    color: #000;
}

.mt-left-col {
    padding-right: 5px;
}

.mt-right-col {
    padding-left: 5px;
}

.raf-link {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding: 30px;
    background-color: #000;
    color: #fff;
    margin: 0 auto 30px;
}

.raf-link:hover {
    padding: 26px;
    border-width: 4px 0;
    border-color: #226666;
    border-style: solid;
    background-color: #226666;
    color: #fff;
}

.raf-link p {
    margin: 0;
}

.hr-color-green {
    height: 1px;
    background-color: #407f7f;
    width: 75%;
    margin-bottom: 0;
}

/*---------------------------------------------------FAQ's-*/

.faqs {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: #666;
    line-height: 1.5em;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 12px;
    /*margin-bottom: 30px;*/
}

.faq-title {
    color: #333;
    margin: 20px 12px 30px;
}

.faq-detail {
    padding: 0 12px;
}

.faq-detail-q {
    color: #333;
    margin: 0 0 8px;
}


.faq-detail p {
    text-align: justify;
}

/*--------------------------------------------------Footer-*/

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 11px;
    color: #666;
    background-color: #333;
    padding: 15px;
    line-height: 1.7em;
    margin: 0;
}

/*----------------------------------------Background Image-*/

body {
    background-color: #000;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/*----------------------------------------------------Misc-*/

.content-width a {
    text-decoration: none;
}

/*-------------------------------------------Media-Queries-*/

@media(max-width: 991px) {
    .wrapper-white {
        width: 90%;
    }
    .wrapper-black {
        width: 90%;
    }
    .mt-left-col {
        padding-right: 15px;
    }

    .mt-right-col {
        padding-left: 15px;
    }
    .main-text {
        text-align: justify;
    }
}

@media(max-width: 1199px) {
    .main-text {
        text-align: justify;
    }
}

@media(min-width: 1921px) {
    .wrapper-white {
        width: 40%;
    }
    .wrapper-black {
        width: 40%;
    }
}
