@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Orbitron:100,200,300,400,500,600,700');

/*------------------------------------------------Wrappers-*/

.wrapper-white {
    width: 60%;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.85);
}

.wrapper-black {
    width: 60%;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 50px;
}

.content-width {
    width: 100%;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center;
}

/*-------------------------------------------------Top Row-*/

.main-title {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 54px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    margin: 10px;
    margin: 0 auto;

}

.title-divider {
    width: 100px;
    height: 3px;
    border: 0;
    background-color: #407f7f;
}

.upgrade {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.2em;
    padding: 0px 20px 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-color: #407f7f;
    border-style: solid;
    margin: 10px 0 10px;
}

.upgrade p {
    margin: 14px 0 20px;
}

.fa-coins {
    font-size: 60px;
    color: #407f7f;
}

.implant {
    -webkit-box-shadow: 10px 10px 8px 0px rgba(102, 102, 102, 0.75);
    -moz-box-shadow: 10px 10px 8px 0px rgba(102, 102, 102, 0.75);
    box-shadow: 10px 10px 8px 0px rgba(102, 102, 102, 0.75);
    text-align: center;
    padding: 20px 0px 10px;
    border-style: none;
    border-radius: 12px;
    background-color: rgba(160, 160, 160, 0.4);
    margin: 22px 15px 28px 0;
}

.implant-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
    padding: 0px 20px 0px;
}

.implant img {
    width: 60%;
    height: auto;
}


/*----------------------------------------------Sub Header-*/

.free-sp-isk {
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 20px 15px;
    text-align: center;

    background-color: #000;
    color: #fff;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 36px;
}

.free-sp-isk p {
    margin: 0px;
}

/*-------------------------------------------------Section-*/

.tb-pic {
    background: url('/assets/images/tb.jpg');
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    border-width: 5px;
    border-color: #000;
    border-style: solid;
    margin-bottom: 30px;
}

.main-text {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.8em;

    padding: 0px 15px 15px 15px;

    margin-bottom: 30px;
}


.main-text h3 {
    margin-top: 0px;
}

.main-text a {
    color: inherit;
}

.main-text a:hover {
    color: #407f7f;
    transition: .5s;
}


.btn-info {
    width: 50%;
    white-space: normal;
    margin: 10px 0 10px;
    background-color: #407f7f;
    border-color: #407f7f;
}

.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-info:active:focus {
    background-color: #226666;
    border-color: #226666;
    color: white;
    transition: 0.2s;
}

.btn--wider {
    width: 75%;
}

.mt-left-col {
    padding-right: 5px;
}

.mt-right-col {
    padding-left: 5px;
}

.raf-link {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    padding: 30px;
    background-color: #000;
    color: #fff;
    margin-bottom: 30px;
}

.raf-link:hover {
    padding: 26px;
    border-width: 4px 0;
    border-color: #226666;
    border-style: solid;
    background-color: #226666;
    color: #fff;
}

.raf-link p {
    margin: 0;
}

.hr-color-green {
    height: 1px;
    background-color: #407f7f;
    width: 75%;
    margin-bottom: 0px;
}

/*---------------------------------------------------FAQ's-*/

.faqs {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.1em;
    color: #666;
    line-height: 1.5em;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 12px;
    /*margin-bottom: 30px;*/
}

.faqs h2 {
    color: #333;
    margin: 20px 12px 30px;

}

.faq-detail {

    padding: 0 12px;
}

.faq-detail h4 {
    color: #333;
    margin: 0px 0px 8px;
}

.faq-detail p {
    text-align: justify;
}


/*--------------------------------------------------Footer-*/

footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 11px;
    color: #666;
    background-color: #333;
    padding: 15px;
    line-height: 1.7em;
    margin: 0;
}

/*----------------------------------------Background Image-*/

body {
    background-color: #000;
    background-image: url('/assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.bg-fade {
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.05)
}

/*----------------------------------------------------Misc-*/

.content-width a {
    text-decoration: none;
}

/*-------------------------------------------Media-Queries-*/

@media(max-width: 991px) {
    .wrapper-white {
        width: 90%;
    }
    .wrapper-black {
        width: 90%;
    }
    .mt-left-col {
        padding-right: 15px;
    }

    .mt-right-col {
        padding-left: 15px;
    }
    .main-text {
        text-align: justify;
    }
}

@media(max-width: 1199px) {
    .main-text {
        text-align: justify;
    }
}
